.container {
    display: flex;
    border: 2px solid #606060;
	height: 100%;
    width: 100%;
}

.left_container {
    width: 50%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.left_element {
	margin-left: 2.5%;
}

#input_text {
	/*border: 3px solid #606060;*/
	border-radius: 0.5rem;
	width: 95%;
	resize: none;
	flex: 0.98;
}

.center_container {
    /*background-color: #606060;*/
    border: 2px solid #606060;
	border-top: none;
	border-bottom: none;
    cursor: ew-resize;
    width: 6px;
}

.right_container {
    flex: 1;
}

#canvas {
  width: 100%;
  height: 100%;
  display: block; /* Remove any default whitespace */
}
